{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Programming</title>
    </head>
    <body>
        <header class="header">
            {% if not user.is_authenticated %}
                <a class="signup-link" href="https://computer-science-a-level-programming.onrender.com/accounts/signup/">Sign Up</a>
            {% endif %}
            <h1 class="title">Radnor House Online Programming!</h1>
            <p class="subtitle">Welcome to the Radnor House Programming Website!</p>
        </header>

        <main class="main">
            <section class="cards">
                <a class="card card--homework" href="https://computer-science-a-level-programming.onrender.com/homework/">
                    <span>Homework</span>
                </a>
                <a class="card" href="https://computer-science-a-level-programming.onrender.com/accounts/profile/">
                    <span>Profile</span>
                </a>
                <a class="card" href="https://computer-science-a-level-programming.onrender.com/accounts/login/">
                    <span>Tutorial (login)</span>
                </a>
                <a class="card" href="#">
                    <span>ChatGPT</span>
                </a>
            </section>
        </main>
    </body>
    </html>