<!DOCTYPE html>
<html>
    <body>

        <h1>Programming!!</h1>
        <p>Welcome to the Programming Website!</p>
        <a href="https://computer-science-a-level-programming.onrender.com/homework/">View homework</a>
        <a href="https://computer-science-a-level-programming.onrender.com/accounts/profile/">View profile</a>
        {% if not user.is_authenticated %}
            <a href="https://computer-science-a-level-programming.onrender.com/accounts/signup/">Sign Up</a>
        {% endif %}
    </body>
</html>