{% load static %}
<link rel="stylesheet" href="{% static 'accounts/auth.css' %}">

<header class="header">
    <a class="signup-link" href="{% url 'signup' %}">Signup</a>
    <h1 class="title">Welcome back</h1>
    <p class="subtitle">Log in to continue</p>
    <a class="homebutton" href="{% url 'home' %}">Home</a>
  
</header>

<main class="main">
    <section class="panel">
        <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
        </form>
        {% if form.errors %}
            <ul class="messages">
            {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                            <li>{{ error }}</li>
                    {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                    <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
</main>
