<a href="https://computer-science-a-level-programming.onrender.com/home/">View home</a>
<a href="https://computer-science-a-level-programming.onrender.com/accounts/signup">Signup</a>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>
{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
