<form method="POST">
    <a href="https://computer-science-a-level-programming.onrender.com/home/">View home</a>
    <a href="https://computer-science-a-level-programming.onrender.com/accounts/login">Login</a>
    {% csrf_token %}
    <label>Username:</label><input type="text" name="username"><br>
    <label>First Name:</label><input type="text" name="fname"><br>
    <label>Last Name:</label><input type="text" name="lname"><br>
    <label>Email:</label><input type="email" name="email"><br>
    <label>Password:</label><input type="password" name="pass1"><br>
    <label>Confirm Password:</label><input type="password" name="pass2"><br>
    <button type="submit">Sign Up</button>
</form>
